@use '../../scss/' as *;

.pokelist__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 90vw;
    margin: 0 auto;
}

.pokelist__grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    width: 60vw;
}

.pokelist__pagination {
    margin-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokelist__btn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.pokelist__btn:hover {
    border: 1px solid #ccc;
    background-color: #ccc;
}

.pokelist__btn--active {
    border: 1px solid #ccc;
    background-color: #ccc;
}

.pokelist__btn--disabled {
    border: 1px solid #ccc;
    background-color: #ccc;
    cursor: not-allowed;
}

.pokelist__btn--disabled:hover {
    border: 1px solid #ccc;
    background-color: #ccc;
}

.pokelist__btn--disabled:active {
    border: 1px solid #ccc;
    background-color: #ccc;
}

.pokelist__preview {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}